<div class="container" style="width: 300px;">
  <div style="padding-top:60px"></div>
    <div style="text-align: center;"><h1>VLAIR</h1></div>
    <div style="padding-top:60px"></div>
    
    <div class="form-group">
      <label for="usr">Name</label>
      <input type="text" class="form-control" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" (keyup)="login($event)">
    </div>
 <div style="padding-top:20px">
  <div style="padding-left:90px"> 
    <button (click)="login($event)">Login</button>
  </div>
 </div> 
 
  </div>
