<div id="mapperPopup">
  <div style="padding:5px;border:black 1px solid">
    <div style="padding: 2px;">
      <input type="text" id="mappedPopuptext" />
    </div>
  </div>
</div>
<div [style.display]="experimentVisible==false?'block':'none'">
  <!--<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>-->
  <div style="display: flex; height: 100vh;overflow:hidden">
    <div style="flex:15%" id="leftpanel">
      <div style="width:200px;height:100vh;overflow:auto">
        <table *ngIf="rowData!=null">
          <tr>
            <th></th>
            <th *ngFor="let val of rowData[0]|keyvalue">
              {{val.key}}
            </th>
          </tr>
          <tr *ngFor="let row of rowData;let i =index">
            <td><input type="radio" name="rowIndex" [value]="i" [ngModel]="rowIndex" (ngModelChange)="changeRow($event)" /></td>
            <td *ngFor="let val of row|keyvalue">
              {{val.value}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div style="flex:72.5%">
      <div style="height:320px;">
        <div style="display:flex;">
          <div style="flex:82.5%;">
            <div class="inlinediv" style="padding-left:3px;padding-right:13px;padding-top:1px;cursor:default">
              <ul>
                <li><img src="assets/images/left_arrow.png" width="25" height="25" style="margin-left:10px" (click)="goback()" /></li>
              </ul>
              <div style="text-align:center;padding-left:9px">Previous</div>
            </div>
            <div class="inlinediv" style="padding-left:15px;padding-right:15px;padding-top:1px;cursor:default">
              <ul [style.background-color]="selection==true ? 'lightgrey' : 'white'">
                <li id="selectionPrototype" (click)="changeselection()" class="circularBorder"><a><i class="fa fa-square" style="font-size:25px"></i></a></li>
              </ul>
              <div style="text-align:center">View Port</div>
            </div>
            <div class="inlinediv" style="padding-left:5px;padding-right:13px;padding-top:1px;cursor:default">
              <ul>
                <li><img src="assets/images/coordinate.png" width="25" height="25" style="margin-left:10px" (click)="createCoordinate()" /></li>
              </ul>
              <div style="text-align:center;padding-left:5px;">Coordinates</div>
            </div>
            <div class="inlinediv" style="padding-left:5px;padding-right:13px;padding-top:1px;margin-top:10px;cursor:pointer" (click)="undo()">
              <ul>
                <li><img src="assets/images/undo_new.png" width="25" height="25" style="margin-left:10px" /></li>
              </ul>

              <div style="text-align:center;padding-left:5px;">Delete</div>
            </div>
            <div class="inlinediv" style="padding-left:5px;padding-right:13px;cursor:pointer;padding-top:1px" (click)="clearAll(canvas)">
              <ul>
                <li><img src="assets/images/clear all.jpg" width="25" height="25" style="margin-left:10px" /></li>
              </ul>
              <div style="text-align:center;padding-left:5px;">Clear All</div>
            </div>
            <div class="inlinediv">
              <ul class="menu nonSelection" style="padding:3px">
                <li id="rectanglePrototype" draggable="true" class="dragElement circularBorder"><a><i class="mark-rectangle" style="font-size: 20px;"></i></a></li>
                <li id="squarePrototype" draggable="true" class="dragElement circularBorder"><a><i class="mark-square" style="font-size: 20px;"></i></a></li>
                <li id="circlePrototype" draggable="true" class="dragElement circularBorder" style="margin-right: 1px; margin-bottom: 0.5px;"><a><i class="mark-circle" style="font-size: 20px;"></i></a></li>
                <li id="pathMarkPrototype" draggable="true" class="dragElement circularBorder"><a><i class="mark-pathMark" style="font-size: 20px;"></i></a></li>
                <li id="ellipsePrototype" draggable="true" class="dragElement circularBorder"><a><i class="mark-ellipse" style="font-size: 20px;"></i></a></li>
              </ul>
              <div style="text-align:center;">
                Shapes
                <!--<i class="fa fa-chevron-down fa-1x" style="cursor:pointer" (click)="markToolboxVisible=!markToolboxVisible"></i>-->
              </div>

              <div style="position:absolute" [style.display]="markToolboxVisible==true?'block':'none'">
                <ul class="menu nonSelection">
                  
                </ul>
              </div>
            </div>
            <div class="inlinediv" style="padding-top: 16px;padding-left:5px;padding-right:5px">
              <ul class="menu nonSelection">
                <li>
                  <select style="font-size:12px;padding-top: 1.5px" [ngModel]="canvasMode" (ngModelChange)="onCanvasMode($event)">
                    <option>Single</option>
                    <option>Collective</option>
                  </select>
                </li>
              </ul>
              <div style="text-align:center;padding-top: 8px;">View Mode</div>
            </div>
            <div class="inlinediv" style="padding-left:15px;padding-right:15px;padding-bottom:23px;padding-top:12px;cursor:pointer">
              <div style="display: inline-block; background-color: black; color: white;padding:3px;" class="keys" (click)="apply()">
                Apply All
              </div>
            </div>
            <div class="inlinediv" style="padding-left:5px;padding-right:13px;padding-top:1px;cursor:default">
              <ul>
                <li><img src="assets/images/right_arrow.png" width="25" height="25" style="margin-left:10px" (click)="navigateML()" /></li>
              </ul>
              <div style="text-align:center;padding-left:5px;">Next</div>
            </div>
            <canvas id="maincanvas" style="width:100%;height:100%"></canvas>
          </div>
          <div style="flex:17.5%;height:320px;overflow:auto;border:black 1px solid;border-bottom: 0px;border-top:0px" [style.display]="selectedObject!=null?'block':'none'">
            <div>
              <div style="text-align:center" [style.display]="visibility!=null && visibility['position']==true?'block':'none'">
                <div>
                  <span style="font-size:12px">
                    <b>
                      {{selectedObject!=null?selectedObject.typename:''}}:
                      <input type="text" *ngIf="selectedObject!=null" [(ngModel)]="selectedObject.ID" style="width:70px" />
                    </b>
                  </span>
                </div>
                <hr />
              </div>
              <div [style.display]="visibility!=null && visibility['position']==true?'block':'none'">
                <div style="font-weight:bold;text-align:left">&nbsp;Position:</div>
                <div id="divxposition" style="margin-left: 10px;height:30px">
                  <span>X:</span>
                  <input id="xposition" [style.background-color]="xPositionTitle!=''?'#3c1361':'white'" [style.color]="xPositionTitle!=''?'white':'black'"
                         [title]="xPositionTitle" type="text" class="rightPanelTextbox" [ngModel]="xposition" (ngModelChange)="changex($event)">
                  &nbsp;<select [(ngModel)]="xPositionOperator" (ngModelChange)="changexOperator($event)">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [(ngModel)]="xPositionOperand" (ngModelChange)="changexOperand($event)">
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
                <div id="divyposition" style="margin-left: 10px; height: 30px">
                  <span>Y:</span>
                  <input id="yposition" [style.background-color]="yPositionTitle!=''?'#3c1361':'white'" [style.color]="yPositionTitle!=''?'white':'black'"
                         [title]="yPositionTitle" type="text" class="rightPanelTextbox" [ngModel]="yposition" (ngModelChange)="changey($event)" />
                  &nbsp;<select [(ngModel)]="yPositionOperator" (ngModelChange)="changeyOperator($event)">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [(ngModel)]="yPositionOperand" (ngModelChange)="changeyOperand($event)">
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
                <hr>
              </div>
            </div>
            <div [style.display]="visibility!=null && visibility['graph']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left">
                &nbsp;Coordinates:
              </div>
              <div style="display:flex" id="graphdiv">
                <div style="flex:50%;margin-left:10px">
                  <div *ngIf="selectedObject!=null">
                    <select [ngModel]="selectedObject.graphname" (ngModelChange)="changeGraph($event)">
                      <ng-container *ngFor="let graph of graphs">
                        <option *ngIf="(selectedObject.typename=='Graph' || 1==1) && selectedObject.ID!=graph.ID">{{graph.ID}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>

              <hr>
            </div>
            <div [style.display]="visibility!=null && visibility['color']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left">
                &nbsp;Color:
              </div>
              <div style="display:flex" id="colorPaneldiv">
                <div style="flex:50%;margin-left:10px">
                  <input id="colorPanel" type="color" [title]="colorTitle" (ngModelChange)="changeColor($event)" [ngModel]="color" />
                </div>
              </div>

              <hr>
            </div>
            <div [style.display]="visibility!=null && visibility['rotation']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left" >
                &nbsp;Rotation:
              </div>
              <div style="display:flex;height:30px" id="rotationPaneldiv">
                <div style="flex:50%;margin-left:10px">
                  <input id="rotationPanel" [style.background-color]="rotationTitle!=''?'#3c1361':'white'" [style.color]="rotationTitle!=''?'white':'#3c1361'"
                         class="rightPanelTextbox" type="text" (ngModelChange)="changeRotation($event)" [ngModel]="rotation" />
                  <!--&nbsp;<select [(ngModel)]="rotationOperator">
          <option>*</option>
          <option>/</option>
        </select>
        &nbsp;<select [(ngModel)]="rotationOperand">
          <option>1</option>
          <option>10</option>
          <option>100</option>
          <option>1000</option>
        </select>-->
                </div>
              </div>

              <hr>
            </div>
            <div [style.display]="visibility!=null && visibility['length']==true?'block':'none'">
              <div>
                <div style="font-weight:bold;text-align:left">&nbsp;Length:</div>
              </div>
              <div>
                <div id="divlength" style="margin-left:10px;margin-top:5px;height:30px">
                  <input id="length" [style.background-color]="lengthTitle!=''?'#3c1361':'white'" [style.color]="lengthTitle!=''?'white':'black'"
                         [title]="lengthTitle" type="text" class="rightPanelTextbox" [ngModel]="length" (ngModelChange)="changelength($event)" />
                  &nbsp;<select [(ngModel)]="lengthOperator" (ngModelChange)="changeLengthOperator($event)">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [ngModel]="lengthOperand" (ngModelChange)="changeLengthOperand($event)">
                    <option>1</option>
                    <option>10</option>
                    <option>20</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
              </div>
              <hr>
            </div>
            <div [style.display]="visibility!=null && visibility['width']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left">
                &nbsp;Width:
              </div>
              <div>
                <div id="divwidth" style="margin-left: 10px; margin-top: 5px; height: 30px">
                  <input id="width" [style.background-color]="widthTitle!=''?'#3c1361':'white'" [style.color]="widthTitle!=''?'white':'black'"
                         [title]="widthTitle" type="text" class="rightPanelTextbox" [ngModel]="width" (ngModelChange)="changewidth($event)" />
                  &nbsp;<select [(ngModel)]="widthOperator" (ngModelChange)="changeWidthOperator($event)">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [ngModel]="widthOperand" (ngModelChange)="changeWidthOperand($event)">
                    <option>1</option>
                    <option>10</option>
                    <option>20</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
              </div>
              <hr>
            </div>
            <div [style.display]="visibility!=null && visibility['side']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left">
                &nbsp;Side:
              </div>
              <div>
                <div id="divside" style="margin-left: 10px; margin-top: 5px; height: 30px">
                  <input id="side" [style.background-color]="sideTitle!=''?'#3c1361':'white'" [style.color]="sideTitle!=''?'white':'black'"
                         type="text" class="rightPanelTextbox" [ngModel]="side" (ngModelChange)="changeside($event)" [title]="sideTitle"> &nbsp;<select [(ngModel)]="sideOperator" (ngModelChange)="changeSideOperator($event)">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [(ngModel)]="sideOperand" (ngModelChange)="changeSideOperand($event)">
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
              </div>
              <hr>
            </div>
            <div [style.display]="visibility!=null && visibility['radius']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left">
                &nbsp;Radius:
              </div>
              <div>
                <div id="divradius" style="margin-left: 10px; margin-top: 5px; height: 30px">
                  <input [style.background-color]="radiusTitle!=''?'#3c1361':'white'" [style.color]="radiusTitle!=''?'white':'black'"
                         id="radius" type="text" class="rightPanelTextbox" [title]="radiusTitle" [ngModel]="radius" (ngModelChange)="changeradius($event)" />
                  &nbsp;<select [(ngModel)]="radiusOperator" (ngModelChange)="changeRadiusOperator($event)">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [(ngModel)]="radiusOperand" (ngModelChange)="changeRadiusOperand($event)">
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
              </div>
              <hr>
            </div>
            <div [style.display]="visibility!=null && visibility['radiusx']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left">
                &nbsp;Radius x:
              </div>
              <div>
                <div id="divradiusx" style="margin-left: 10px; margin-top: 5px; height: 30px">
                  <input [style.background-color]="radiusxTitle!=''?'#3c1361':'white'" [style.color]="radiusxTitle!=''?'white':'black'"
                         id="radiusx" type="text" class="rightPanelTextbox" [title]="radiusxTitle" [ngModel]="radiusx" (ngModelChange)="changeradiusx($event)" />
                  &nbsp;<select [(ngModel)]="radiusxOperator">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [(ngModel)]="radiusxOperand">
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
              </div>
              <hr>
            </div>
            <div [style.display]="visibility!=null && visibility['radiusy']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left">
                &nbsp;Radius y:
              </div>
              <div>
                <div id="divradiusy" style="margin-left: 10px; margin-top: 5px; height: 30px">
                  <input [style.background-color]="radiusyTitle!=''?'#3c1361':'white'" [style.color]="radiusyTitle!=''?'white':'black'"
                         id="radiusy" type="text" class="rightPanelTextbox" [title]="radiusyTitle" [ngModel]="radiusy" (ngModelChange)="changeradiusy($event)" />
                  &nbsp;<select [(ngModel)]="radiusyOperator">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [(ngModel)]="radiusyOperand">
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
              </div>
              <hr>
            </div>
            <div id="divarea" [style.display]="visibility!=null && visibility['area']==true?'block':'none'">
              <div style="font-weight:bold;text-align:left">&nbsp;Area:</div>
              <div>
                <div style="margin-left: 10px; margin-top: 5px; height: 30px">
                  <input type="text" [style.background-color]="areaTitle!=''?'#3c1361':'white'" [style.color]="areaTitle!=''?'white':'black'"
                         class="rightPanelTextbox" [ngModel]="area" [title]="areaTitle" (ngModelChange)="changeArea($event)" />
                  &nbsp;<select [(ngModel)]="areaOperator">
                    <option>*</option>
                    <option>/</option>
                  </select>
                  &nbsp;<select [(ngModel)]="areaOperand">
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                    <option>1000</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex; border: 1px solid black; border-left-width: 0px; border-right-width: 0px">
        <div>
          <div style="display:inline-block" *ngIf="midScroll" (click)="scrollLeft()">
            <img src="assets/images/larrow.png" width="23" height="23" style="margin:10px" />
          </div>
          <div style="display:inline-block;width:920px;overflow-x:auto;white-space:nowrap" #keytab id="keytab">
            <ng-container *ngFor="let key of keys;let i=index">
              <div [style.backgroundColor]="keybg[i]" *ngIf="key!=selectedLabel" class="keys" [id]="'id'+keyid[i]">
                {{key}}
              </div>
            </ng-container>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div style="display:inline-block" *ngIf="midScroll" (click)="scrollRight()">
            <img src="assets/images/rarrow.png" width="23" height="23" style="margin: 10px " />
          </div>
        </div>
      </div>
      <div style="display:flex">
        <div style="flex:82.5%">
          <canvas id="bottomcanvas" style="width:100%;height:100%"></canvas>
        </div>
        <div style="flex:17.5%; border-left: black 1px solid;border-bottom: black 1px solid;">
          <div style="text-align:center">
            <div>
              <div id="addition-operator" draggable="true" style="border:black 1px solid;display:inline-block;padding:2.5px;margin-right:8px;margin-top:10px">
                <i class="operator-additionIcon" style="font-size: 21px; color: #460073;"></i>
              </div>
              <div id="subtraction-operator" draggable="true" style="border: black 1px solid; display: inline-block; padding: 2.5px; margin-left:8px;margin-top:10px">
                <i class="operator-subtractionIcon" style="font-size: 20px; color: #460073;"></i>
              </div>
            </div>
            <div>
              <div id="multiplication-operator" draggable="true" style="border: black 1px solid; display: inline-block;  padding: 2.5px;margin-left:8px;margin-right:8px;margin-top:10px">
                <i class="operator-multiplicationIcon" style="font-size: 20px; color: #460073;"></i>
              </div>
              <div id="division-operator" draggable="true" style="border: black 1px solid; display: inline-block; padding: 2.5px;margin-left:8px;margin-right:8px;margin-top:10px">
                <i class="operator-divisonIcon" style="font-size: 20px; color: #460073;"></i>
              </div>
            </div>
          </div>
          <div style="text-align:center;margin-top:5px">Operators</div>
          <hr>
          <div style="text-align:center;padding-top:15px">
            <div style="display:inline-block;cursor:pointer" (click)="clearAll(bottomcanvas)">
              <img src="assets/images/clear all.jpg" width="23" height="23" />
              <div style="text-align:center;padding-top:5px">Clear All</div>
            </div>
            <div id="mapperWidget" draggable="true" style=" display: inline-block; border-radius: 20px;text-align:center;padding-left:10px">
              <i style="padding-left:10px" class="collections-mapper" style="font-size: 22px; color: #460073;"></i>
              <div style="text-align:right;padding-top:5px">Mapper Widget</div>
            </div>
          </div>
          <hr>
          <div style="text-align:center;">
            <div id="isNumericData" draggable="true" style="border: black 1px solid; display: inline-block; padding: 2.5px; margin: 5px">
              <i class="value-number" style="font-size: 20px; color: #460073;"></i>
            </div>
            <div id="isColorData" draggable="true" style="border: black 1px solid; display: inline-block; padding: 2.5px; margin: 5px">
              <i class="value-color" style="font-size: 20px; color: #460073;"></i>
            </div>
            <div id="isStringData" draggable="true" style="border: black 1px solid; display: inline-block; padding: 2.5px; margin: 5px">
              <i class="value-string" style="font-size: 20px; color: #460073;"></i>
            </div>
            <div style="text-align:center">Values</div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div id="rightpanel" style="flex:12.5%;border-left:black 1px solid;overflow:auto">
      <div class="loader" *ngIf="loading"></div>
      <div *ngIf="rightcanvasarray!=null">
        <div class="inlinediv" *ngFor="let key of rightcanvasarray;let i=index">
          <canvas [id]="'canvas'+i" ></canvas>
        </div>
        <div class="inlinediv" style="height:0px" *ngFor="let key of validationcanvasarray;let i=index">
          <canvas [id]="'valcanvas'+i" ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div [style.display]="experimentVisible==true?'block':'none'">
  <button type="button" (click)="backToViz()">Back</button>
  <app-experiment *ngIf="experimentVisible==true"></app-experiment>
</div>
